.CartItem {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 1rem;
}

.CartItem-Image img {
    width: 150px;
}

.CartItem-Information{
    padding: 1rem;
}

.CartItem-Title{
    color: #000;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}

.CartItem-Price {
    color: #000;
    padding-top: 0.5rem;
}

.CartItem-Buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}