.Item {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 1.5rem 0.5rem;
}

.Item-Image img {
    width: 150px;
    padding-right: 1rem;
}

.Item-Title{
    color: #000;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}

.Item-Category {
    margin-bottom: 0.5rem;
}

.Item-Price {
    color: #000;
    padding-top: 0.5rem;
}

.Item > button {
    margin-left: 1rem;
    border: none;
    background: transparent;
    font-size: 30px;
    color: lightslategray;
}