.Store {
    min-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    transition: all 0.4s ease-out;
}

.Navbar, .Cart, .ItemList {
    border-radius: 10px;
    margin: 2rem;
    padding: 1rem 1rem 2rem;
    background: #fff;
    color: lightslategray;
    box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1);
    overflow: hidden;
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}

.Title {
    color: rgb(122, 153, 255);
    font-weight: normal;
    font-size: 2rem;
    letter-spacing: 0.05em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.Navbar-Wallet { font-size: 30px;}
.Navbar {
    width: 200px;
}
.Cart {
    width: 400px;
}

.Cart-Total{
    font-size: x-large;
    padding: 0.5rem 1.5rem 1rem;
}

button {
    padding: 0 1.3rem;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-left: 5px;
    cursor: pointer;
    transition: background 0.4s ease-out;
    outline: none;
    font-family: "Quicksand", sans-serif;
    height: 3rem;
    border-radius: 10px;
}

button:hover {
    background: rgba(0, 0, 0, 0.1);
}

button:active {
    background: rgba(0, 0, 0, 0.5);
}